html {
    font-size: 1.5rem;
    /* position: absolute !important; */
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

table {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background: yellow;
}