html {
    font-size: 1.5rem;
    /* position: absolute !important; */
}

table {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: gray;
}