html {
    font-size: 1.5rem;
    /* position: absolute !important; */
}

#main-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

table {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background: green;
}